# class files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# package files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# working directories
dist/
target/

# IDE
.settings/
.idea/
*.iml
